apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeploy-usertestsys-vocabularysizeestimation
  namespace: servpy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: usertestsys-vocabularysizeestimation
  template:
    metadata:
      labels:
        app: usertestsys-vocabularysizeestimation
    spec:
      containers:
        - image: harbor.my.org:1080/python-app/usertestsys-vocabularysizeestimation:latest
          name: usertestsys
          resources:
            limits:
              cpu: "2"
              memory: 4Gi
            requests:
              cpu: 200m
              memory: 2Gi

